.alarmsDiv {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.alarmLeftSidebar {
  width: 25%;
  border-right: solid 0.22vw black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapDiv {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 100%;
}

.floorPlanImage {
  width: 100%;
  height: 100%;
}
.alarmButton {
  background-color: white;
  border: solid black;
  width: 13vw;
  height: 6.5vh;
  margin-bottom: 2vh;
  font-size: 24px;
  border-radius: 2.5vh;
  margin: 2vh;
}
.alarmButton:hover {
  background-color: #bab8c6;
  color: #1a202c;
}
.alarmButton.active {
  background-color: #3b82f6;
  border: solid black;
  width: 13vw;
  height: 6.5vh;
  margin-bottom: 2vh;
  font-size: 24px;
  border-radius: 2.5vh;
}

/*defines what happens during blinking*/
@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.alarmZone {
  position: absolute;
  /* width/height/position still inline or via CSS variables */
}
.alarmZone.active {
  background-color: rgba(144, 238, 144, 0.5);
  border: 2px dashed green;
}
.alarmZone.inactive {
  background-color: rgba(105, 105, 105, 0.5);
  border: 2px dashed gray;
}
.alarmZone.blinking {
  animation: blink 1s step-start infinite;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px dashed red;
}
