.staticMapObj {
  position: absolute;
  width: 1.7vh;
  height: 1.7vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #3b82f6;
  border: 0.25vh solid;
  z-index: 1;
  cursor: pointer;
}
.ObjmapDiv {
  position: relative;
  width: 75vw; /* Fixed width relative to viewport height */
  height: 85vh; /* Fixed height relative to viewport height */
  overflow: hidden;
  margin: 0 auto; /* Center the container if desired */
}

.ObjmapDiv img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensures the image stretches to fill the container */
}
