.liveViewDiv {
  display: flex;
  width: 100%;
  height: 100vh; /* or another defined height */
}

.liveLeftSidebar {
  flex: 0 0 25%; /* fixed at 25% of the container */
  border-right: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.liveMapDiv {
  flex: 1; /* take up all remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}
