/* Default styles */
.videoContainer {
  height: 25vh;
  margin: 0vh;
  position: relative;
  transition: all 0.3s ease;
}

.videoStream {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures video fills container */
  box-sizing: border-box;
  border-radius: 2.2vh;
  border: 0.25vh solid black;
}

/* Active fullscreen styles */
.videoContainer.active {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: black;
}
.videoStream.active {
  width: 100vh;
  height: 100vh;
  object-fit: cover;
  transition: all 0.3s ease;
}

.videoContainer.active .videoStream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Change these values as needed */
  height: 100%; /* Change these values as needed */
  object-fit: cover;
  margin: auto; /* If you need centering */
}
